project:
  type: website
  output-dir: docs

website:
  bread-crumbs: false
  favicon: static/bsa-favicon.png
  title: "NHSBSA Data Science Playbook"
  # Search is good to have and works very well. But it introduces an accessibility
  # issue no matter how it is configured.
  # https://quarto.org/docs/websites/website-search.html
  # overlay gives empty button, while textbox gives empty label
  # Disabled for now until a solution is found
  search: false
  navbar:
    title: false
    logo: "static/NHSBSA logo.png"
    logo-alt: "NHS Business Services Authority"
    logo-href: "https://www.nhsbsa.nhs.uk/"
    pinned: true
    background: "#005EB8"
    collapse: false
    left:
      - href: index.qmd
        text: Playbook Home Page
      - text: "Guidance"
        menu:
        - href: guidance/01-pre-pd/index.qmd
        - href: guidance/02-pd/index.qmd
        - href: guidance/03-analysis/index.qmd
        - href: guidance/04-wrap-up/index.qmd

    right:
      - about.qmd
      - href: https://www.nhsbsa.nhs.uk/nhsbsa-statistics-and-data-science
        text: "{{< iconify mdi:house-outline size=xl >}} NHSBSA Data Science Home Page"
      - href: https://github.com/nhsbsa-data-analytics
        text: "{{< iconify mdi:github size=xl >}} GitHub"
      - href: https://twitter.com/nhsbsa
        text: "{{< iconify mdi:twitter size=xl >}} Twitter"
  sidebar:
    style: "docked"
    collapse-level: 1
    contents:
      - section: "Before the problem definition"
        contents:
          - guidance/01-pre-pd/index.qmd
          - guidance/01-pre-pd/pre-pd-steps/01-question-identified.qmd
          - guidance/01-pre-pd/pre-pd-steps/02-assign-critical-friend.qmd
          - guidance/01-pre-pd/pre-pd-steps/03-develop-understanding.qmd
          - guidance/01-pre-pd/pre-pd-steps/04-customer-engagement.qmd
          - guidance/01-pre-pd/pre-pd-steps/05-create-update-initiative-resources.qmd
      - section: "Problem definition"
        contents:
          - guidance/02-pd/index.qmd
          - guidance/02-pd/pd-steps/01-writing-problem-definition.qmd
          - guidance/02-pd/pd-steps/02-customer-feedback.qmd
          - guidance/02-pd/pd-steps/03-refine-pd.qmd
          - guidance/02-pd/pd-steps/04-estimate-timescales.qmd
          - guidance/02-pd/pd-steps/05-problem-definition-sign-off.qmd
      - section: "Analysis"
        contents:
          - guidance/03-analysis/index.qmd
          - guidance/03-analysis/analysis-steps/01-data-prep.qmd
          - guidance/03-analysis/analysis-steps/02-analysis-modelling.qmd
          - guidance/03-analysis/analysis-steps/03-reporting-and-visuals.qmd
          - guidance/03-analysis/analysis-steps/04-review.qmd
      - section: "Initiative wrap up"
        contents:
          - guidance/04-wrap-up/index.qmd
          - guidance/04-wrap-up/wrap-up-steps/01-clean-up.qmd
          - guidance/04-wrap-up/wrap-up-steps/02-review-documentation.qmd
          - guidance/04-wrap-up/wrap-up-steps/03-update-wiki.qmd
          - guidance/04-wrap-up/wrap-up-steps/04-public-repository.qmd
          - guidance/04-wrap-up/wrap-up-steps/05-future-work.qmd
          - guidance/04-wrap-up/wrap-up-steps/06-follow-up.qmd
  page-footer:
    left:
      - text: "Accessibility"
        href: accessibility.qmd

format:
  html:
    pagetitle: "NHSBSA Data Science Playbook"
    lang: en-GB
    theme: cosmo
    css: styles.css
    mainfont: "Arial"
    page-layout: full
    toc: true
    
execute:
  freeze: auto
